[submodule "plugins/itamae-plugin-recipe-rbenv"]
	path = plugins/itamae-plugin-recipe-rbenv
	url = https://github.com/k0kubun/itamae-plugin-recipe-rbenv
[submodule "config/.tmux/plugins/tpm"]
	path = config/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
