*.zwc

bin/mitamae*
config/.gitconfig.company
config/.tmux/plugins
!config/.tmux/plugins/tpm
config/.tmux/resurrect
config/.zsh.d/.zcompdump
config/.zsh.d/.zsh_history
config/.zsh.d/config/company.sh
config/.config/direnv
config/.config/gcloud
