*.zwc

bin/mitamae*

config/.config/karabiner/automatic_backups/
config/.tmux/plugins/
!config/.tmux/plugins/tpm/
config/.tmux/resurrect/
config/.zsh.d/.zcompdump*
config/.zsh.d/.zsh_history
config/.zsh.d/cache
