[submodule "plugins/itamae-plugin-recipe-rbenv"]
	path = plugins/itamae-plugin-recipe-rbenv
	url = https://github.com/k0kubun/itamae-plugin-recipe-rbenv
[submodule "config/.tmux/plugins/tpm"]
	path = config/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/.zsh.d/plugins/antigen"]
	path = config/.zsh.d/plugins/antigen
	url = https://github.com/zsh-users/antigen
[submodule "cookbooks/font-ricty/files/repo"]
	path = cookbooks/font-ricty/files/repo
	url = https://github.com/mzyy94/RictyDiminished-for-Powerline
